*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("./pexels-ella-olsson-1640777.jpg");
    background-position:center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 30px 120px;
}
.nav-logo{
    width: 150px;
}
.nav-logo h1{
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 2rem;
    font-weight: bolder;
}
.nav-logo h1 :nth-child(1){
    color: rgb(6, 179, 179);
}
.nav-logo h1 :nth-child(3){
    color: rgb(11, 182, 182);
}
.nav-logo h1 :nth-child(2){
    color: rgb(146, 189, 146);
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    display: inline;
    margin-left: 20px;
}
.nav-links ul li{
    list-style: none;
    padding:8px 20px;
    display: inline-block;
}
.nav-links ul a li {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px ;
}
.nav-links li::after{
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    transition: .5s;
}
.nav-links li:hover::after{
    width: 100%;
} 
.btn
{
    background: yellow;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-links .btn{
    float: right;
}
.btn:hover{
    color: #ffffff;
    background: rgb(136, 160, 49);
}
.banner-title{
    padding: 60px 120px;
}
.banner-title h1{
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color: yellow;
}
.side-bar{
    height: 100%;
    background: rgb(20, 20, 20);
    top: 0;
    left: 0;
    position: absolute;
}
.search-bar{
  height: 60%;
  width: 80px;
}
.search-bar .fas{
   margin: 50px 30px; 
   display: block;
   color: #ffffff;
   cursor: pointer;
   font-size:1.5rem ;
}
.social-bar{
    height: 35%;
    width: 80px;
    background: yellow;
    padding-top: 27%;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.social-bar .fab{
    margin: 13px 23px;
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
}
.notification{
    display: flex;
    width: 400px;
    height: 100px;
    bottom: 0;
    right: 0;
    background: yellow;
    position: absolute;
    text-align: center;
}
.content{
    flex-basis: 50%;
    padding: 10px;
    border-right: 1px solid black;
}
.content p{
    margin-top: 10px;
}
.content p a{
    padding: 10px;
}
.notification-img{
    flex-basis: 50%;
    padding: 10px;
}
.nav-bar .fa{
    display: none;
}
@media (max-width:700px){
    .side-bar{
        display: none;
    }
    .banner-title{
        padding: 80px 35px;
    }
    .banner-title h1{
        font-size: 50px;
    }
    .notification{
      visibility: hidden;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .nav-bar .fa{
        display: block;
        cursor: pointer;
        margin: 10px 5px;
        color: #ffffff;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: black;
        position: absolute;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        transition: 0.9s;
    }
    .nav-links ul a li{
        display: block;
        font-size: .7rem;
        margin-top: 0;
    }
    .nav-links .btn{
        float: none;
        padding: 5px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .nav-links .fa-times{
        margin-left: 17px ;
    }
}
